{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}天天生鲜-首页{% endblock title %}
{% block topfiles %}
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/slide.js"></script>
{% endblock topfiles %}
{% block body %}
    <!--商品分类-->
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
            </div>
            <ul class="navlist fl">
                <li><a href="#">首页</a></li>
                <li class="interval">|</li>
                <li><a href="#">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="#">抽奖</a></li>
            </ul>
        </div>
    </div>
    <!--幻灯片-->
    <div class="center_con clearfix">
        <ul class="subnav fl">
                    {% for type in types %}
                    <li><a href="#" class="{{ type.logo }}">{{ type.name }}</a></li>
                    {% endfor %}
        </ul>
        <div class="slide fl">
            <ul class="slide_pics">
                {% for banner in goods_banners  %}
                <li><img src="http://192.168.6.192:9888/group1/M00/00/00/wKgGwF7p2gKALjDKAACpB6F19o82078219" alt="幻灯片"></li>
                {% endfor %}
            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            <a href="#"><img src="images/adv01.jpg"></a>
            <a href="#"><img src="images/adv02.jpg"></a>
        </div>
    </div>
    <!--展示区-->
    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">新鲜水果</h3>
            <div class="subtitle fl">
                <span>|</span>
                <a href="#">鲜芒</a>
                <a href="#">加州提子</a>
                <a href="#">亚马逊牛油果</a>
            </div>
            <a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>
        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="images/banner01.jpg"></div>
            <ul class="goods_list fl">
                <li>
                    <h4><a href="#">草莓</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">葡萄</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">柠檬</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">奇异果</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">新鲜水果</h3>
            <div class="subtitle fl">
                <span>|</span>
                <a href="#">鲜芒</a>
                <a href="#">加州提子</a>
                <a href="#">亚马逊牛油果</a>
            </div>
            <a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>
        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="images/banner01.jpg"></div>
            <ul class="goods_list fl">
                <li>
                    <h4><a href="#">草莓</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">葡萄</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">柠檬</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">奇异果</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">新鲜水果</h3>
            <div class="subtitle fl">
                <span>|</span>
                <a href="#">鲜芒</a>
                <a href="#">加州提子</a>
                <a href="#">亚马逊牛油果</a>
            </div>
            <a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>
        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="images/banner01.jpg"></div>
            <ul class="goods_list fl">
                <li>
                    <h4><a href="#">草莓</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">葡萄</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">柠檬</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">奇异果</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">新鲜水果</h3>
            <div class="subtitle fl">
                <span>|</span>
                <a href="#">鲜芒</a>
                <a href="#">加州提子</a>
                <a href="#">亚马逊牛油果</a>
            </div>
            <a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>
        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="images/banner01.jpg"></div>
            <ul class="goods_list fl">
                <li>
                    <h4><a href="#">草莓</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">葡萄</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">柠檬</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">奇异果</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">新鲜水果</h3>
            <div class="subtitle fl">
                <span>|</span>
                <a href="#">鲜芒</a>
                <a href="#">加州提子</a>
                <a href="#">亚马逊牛油果</a>
            </div>
            <a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>
        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="images/banner01.jpg"></div>
            <ul class="goods_list fl">
                <li>
                    <h4><a href="#">草莓</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">葡萄</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">柠檬</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">奇异果</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">新鲜水果</h3>
            <div class="subtitle fl">
                <span>|</span>
                <a href="#">鲜芒</a>
                <a href="#">加州提子</a>
                <a href="#">亚马逊牛油果</a>
            </div>
            <a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>
        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="images/banner01.jpg"></div>
            <ul class="goods_list fl">
                <li>
                    <h4><a href="#">草莓</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">葡萄</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">柠檬</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
                <li>
                    <h4><a href="#">奇异果</a></h4>
                    <a href="#"><img src="images/goods/goods003.jpg"></a>
                    <div class="prize">￥ 30.00</div>
                </li>
            </ul>
        </div>
    </div>
{% endblock body %}